body {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, section, footer {
    background-color: #4a4646;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
header h1{
    color: #c7d3e5;
    font-size: 36px;
}
header p{
    color: #e3dede;
    font-size: 18px;
}
/*Estilo Sobre mi */
#about{
    background-color: #fff;
    padding: 20px;
    text-align: justify;
}

#about h2 {
    color: #333;
    font-size: 24px;
}

#about p {
    color: #666;
    font-size: 18px;
}
/* Estilos para la sección "Proyectos" */

#projects {
    background-color: #f7f7f7;
    padding: 20px;
}

#projects .card {
    margin-bottom: 20px;
}

#projects .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Estilos para la sección "Contacto" */
#contact {
    background-color: #fff;
    padding: 20px;
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#contact button[type="submit"] {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.bootstrap{
    background-color: #6f42c1;
}
.html{
    background-color: #e34c26;
}
.css{
    background-color: #264de4;
}
.js{
    background-color: #F0DB4F;
    color: black;
}
.vue{
    background-color: #41B883;
}

